.animation-divider {
    position: relative; 
    z-index:100;
    background-position: center;
    /* background-size: inherit; */
    width: 100wh;
    background-color: rgb(26,43,76);
    max-width: 100%;
}

.animation-container {
    height: 200px;
    font-size: 100%; 
    z-index: 100;
}

.animation-text {
    position: relative;
    z-index:100; 
    padding: 0px;
    font-size: calc(1.2em + 1.4vw);
    color: #ffffff;
    height: 200px;
    margin: 0px auto;
}