.faicon {
    width: 70px;
    height: 55px;
    align-content: center;
    text-align: center;
    align-items: center;
    font-size: 50px;
    color: rgb(24,40,72);
}

.description-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 5px;
    text-align: center;
    background-color: #ffffff;
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}
.description-card:hover {box-shadow: 0 10px 12px 10px rgba(0, 0, 0, 0.2);}

@media screen and (min-width: 991px)  {
    .description-card { min-height: 500px; }
}

