.avatar {
    height: 45%;
    width: 45%;
    border-radius: 50%;
}

.no-margin {
  margin: 0px !important;
  padding: 0px !important;
}

.resume-btn {
    margin: 0px;
    width: 150px;
    height: 40px; 
    background-image: 
    linear-gradient(120deg, rgb(75,108,183), rgb(24,40,72)); 
    background-color: rgb(63,102,188);
    border-radius: 50px;
}

.resume-btn:hover {
    transition: .5s ease;
    opacity: 0.3;
}