.portfolio-block.block-intro.parallax {
  background-attachment: fixed;
}

.navbar.navbar-dark.navbar-expand-lg.fixed-top.bg-white.portfolio-navbar.gradient {
}

.transparent {
  background-color: rgba(0,0,0,0);
}

#profile {
  box-shadow: 5px 5px 5px grey;
}

.portfolio-block.call-to-action.border-bottom {
}

.welcome {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.language-icon {
  background-color: rgb(26,43,76);
  /*background-image: linear-gradient(120deg, rgb(75,108,183), rgb(24,40,72));*/
}

.navBar-def {
  transition: top 0.3s;
  background-color: rgb(26,43,76);
  background-image: linear-gradient(120deg, rgb(75,108,183), rgb(24,40,72)) !important;
  /*transition: opacity 0.5s ease;*/
}

.navBar-solid {
  background-color: rgb(26,43,76);
}

