#contact {
    background-image: linear-gradient(120deg, rgb(75,108,183), rgb(24,40,72));
    overflow-x: hidden;
}

.like-what-you-saw {
    font-size: calc(0.8em + 0.8vw);
    color: white;
    width: 22em;
    margin: 0px;
}

.contact-me {
    font-size: calc(0.8em + 0.8vw);
    color: white;
    width: 22em;
    margin: 0px;
}

#emailBtn {
    margin: 40px;
    width: 210px;
    height: 40px; 
    background-image: linear-gradient(120deg, rgb(236,233,230), rgb(255,255,255));
    background-color: rgb(255,255,255);
    color: rgb(0,0,0);
    border-radius: 50px;
}

#emailBtn:hover {
    transition: .5s ease;
    opacity: 0.3;
}