.filter-div{
    justify-content: center;
    align-content: center;
    display: flex;
    flex: no-wrap;
    overflow: visible;
    width: 100%;
}

.cat-label {
    font-size: 20px;
}

@media screen and (min-width: 991px)  {
    .filter-div { display: flex; }
    .cat-label { font-size: 20px; }
}

@media screen and (min-width: 1000px)  {
    .filter-div { display: flex; }
    .cat-label { font-size: 20px; }
}

@media screen and (min-width: 991px) and (max-width: 1000px){
    .filter-div { display: block; }
    .cat-label { font-size: 15px; }
}

@media screen and (min-width: 500px) and (max-width: 991px){
    .filter-div { display: block; }
    .cat-label { font-size: 15px; }
}

@media screen and (min-width: 100px) and (max-width: 500px){
    .filter-div { display: block; }
    
}