.back-to-home {
    background-image: linear-gradient(120deg, rgb(75,108,183), rgb(24,40,72));
    padding: 1px;
    font-size: 30px;
    width: 70px;
    height: 70px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

.ico {
    background-image: linear-gradient(120deg, rgb(75,108,183), rgb(24,40,72));
    /* padding: 20px; */
    padding: 1px;
    font-size: 30px;
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 10px;
    border-radius: 50%;
    transition: .5s ease;
    backface-visibility: hidden;
}

.ico:hover {
    opacity: 0.7;
}