#profile {
    box-shadow: 5px 5px 5px grey;
    width: 100%;
    /* height: auto; */
    /* min-width: 250px;
    min-height: 250px; */
    position: relative;
}

#profile-caption {
    font-size: 17px;
    color: rgb(0,0,0);
    width: 100%;
}

@media screen and (min-width: 768px)  {
    .mobile-break { display: none; }
}